@model MyWebApp.Models.HomeModel
@{
    ViewData["Title"] = "Home Page by ViewData";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section style="color: red">@Model.message</section>
<section>FirstName: @ViewData["FirstName"]</section>